body {
    font-family: Arial, sans-serif;
    background: url('./pictures/k0BgJN9.PNG') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.landing-page {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease;
}

.landing-page h1,
.landing-page p {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.landing-page p {
    font-size: 1.5em;
}

.container {
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: white;
    transition: opacity 0.5s ease;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px; /* Adjust to position properly */
}

.username {
    font-size: 2em;
    margin: 10px 0;
}

.view-count {
    margin: 10px 0;
    font-size: 1em;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.link img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.link img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

